@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,100;1,200;1,300;1,400;1,500;1,600&display=swap');

root{
    --vemio-vid-frame-height: 1080px;
    }
    body{
        font-family: "Monsterrat", sans-serif;
        font-size: 1.2rem;
        line-height: 1.5;
        color: #000000;
    }
    h1,h2,h3{
        font-family: 'Montserrat', sans-serif;;
        font-weight: 600;
    }
    p{
        font-family: 'Montserrat', sans-serif;
        font-weight: 300;
    }
    li{
        font-family: 'Montserrat', sans-serif;
        font-weight: 300;
    }
.page-transition{
    position: absolute;
    overflow: visible;
    opacity: 1;
    z-index: 1000;
    height: 150vh;
    width: 100%;
    background-color: #FFFFFF;
    transition: all 1s;

}
.page-transition_zoomOut{
    opacity: 0;
    transform: scale(30);
    overflow: hidden;
}
.custom-site-logo{
    position: fixed;
    top: 50%;
    left: 50%;
    /* bring your own prefixes */
    transform: translate(-50%, -50%);
}
.s_logo_letters{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}
.s_logo {
    width: 160px;
    height: 160px;
    object-fit: contain;
    margin: 0px 0px 0px 0px;
}
.s_logo_j_active{
    transform: rotate(-90deg);
}
.s_logo_e_active{
    transform: rotate(90deg);
}
.s_logo_vis_div{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.s_logo_vis {
    width: 400px;
    height: 100px;
    object-fit: contain;
    margin: 0px 0px 0px 0px;
    z-index: 1001;
    transform: translateY(-100%);
    opacity: 0;
    transition: all 2s;
}
.s_logo_vis_show {
    transform: translateY(0%);
    opacity: 1;
}

/*navbar*/
.mobile-menu-button{
    display: none;
}
.menu-items ul li.nav-item a{
    transition: all 1s ease-in-out;
}
.menu-items ul li.nav-item a::after{
    content: "";
    display: block;
    width: 0%;
    height: 1px;
    background: #000;
    transition: all 1s;
}
.menu-items ul li.nav-item a:hover{
    scale: 1.1;
}
.menu-items ul li.nav-item a:hover::after{
    width: 100%;
    
}
@media screen and (max-width:767px){

    .mobile-menu-button{
        display: block;
        position: fixed;
        z-index: 99;
        bottom: 10%;
        right: 5%;
        width: 30px;
        height: 30px;
        color: #FFFFFF;
        text-align: center;
        line-height: 50px;
        cursor: pointer;
        transition: all 1s;
    }
    .mobile-menu-button > svg{
        color: #000000;
    }
    .menu-items{
        transition:all 1s;
        position:fixed;
        z-index:99;
        right:0%;
        bottom:5%;
        float:right;
        transform:translateX(100%);
    }
    
    .menu-items ul{
        display:flex;
        flex-direction:column;
        background: rgba(255, 255, 255, 0.2);
        border-radius: 10px;
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(5px);
        -webkit-backdrop-filter: blur(5px);
        border: 1px solid rgba(255, 255, 255, 0.3);
    }
    
    .menu-items ul li.nav-item a{
        color:#000 !important;
    }


}

    .show-mobile-menu{
        transform:translateX(0%);
    }
    .inline-svg {
        display:block;
        margin:0 auto;
        width: 60px;
        height: 60px;
        }
        
        .desktop-menu-icon .svg-menu-toggle {
            pointer-events:all;
            cursor:pointer;
      
        .bar {
            -webkit-transform:rotate(0) translateY(0) translateX(0);
            transform:rotate(0) translateY(0) translateX(0);
            opacity:1;
            -webkit-transform-origin: 20px 10px;
            transform-origin: 20px 10px;
            -webkit-transition: -webkit-transform 0.4s ease-in-out, opacity 0.2s ease-in-out;
            transition: transform 0.4s ease-in-out, opacity 0.2s ease-in-out;
            }
          
          .bar:nth-of-type(1) {
            -webkit-transform-origin: 20px 10px;
            transform-origin: 20px 10px;
          }
          
          .bar:nth-of-type(3) {
            -webkit-transform-origin: 20px 20px;
            transform-origin: 20px 20px;
          }
        }
      
        .desktop-menu-icon.active .svg-menu-toggle {
          
          .bar:nth-of-type(1) {
          -webkit-transform:rotate(-45deg) translateY(0) translateX(0);
          transform:rotate(-45deg) translateY(0) translateX(0);
          }
      
          .bar:nth-of-type(2) {
            opacity:0;
          }
      
        .bar:nth-of-type(3) {
          -webkit-transform:rotate(45deg) translateY(0em) translateX(0em);
          transform:rotate(45deg) translateY(0em) translateX(0em);
        }
      }

/*navbar End*/


/*changing Vemio */
    iframe > html >  body.vp-center {
        display:block !important;
    }
/**/

.project-title-span{
    font-size: 22px;
    font-weight: 300;
}

.project-image-gallary-item{
    padding: 0px !important;
    width: 300px;
    height: 480px ;
    object-fit: contain;
    
}

@media screen and (max-width: 764px) {
    .project-image-gallary-item{
        width: 100%;
        height: 100%;
        scroll-snap-align: start;
    }
    .mobile-photo-gallery{
        display: flex;
        flex-direction: column !important;
        scroll-snap-type: x mandatory;
        justify-content: center;
        align-items: center;
        overflow-x: scroll;
        overflow-y: hidden;
        max-width: fit-content;
        max-height: 480px ;
    }
    .mobile-photo-gallery::-webkit-scrollbar {
        background-color: #000;
        border-radius: 30px !important;
        height: 10px;
    }
    .mobile-photo-gallery::-webkit-scrollbar-thumb {
        background-color: #fff;
        border-radius: 30px !important;
        border: 1px solid grey;
    }
    .mobile-photo-gallery::-webkit-scrollbar-track {
        background-color: #000;
        border-radius: 30px !important;
        border: 1px solid white;
    }

}

.work-page-name::after{
    content: "";
    display: block;
    width: 0%;
    height: 1px;
    background: #000;
    transition: all 1s;
}
a.work-container-block:hover{
      .work-category-image-holder{
        transform: scale(1.03);
        transition: all 1s;
      }
      .work-page-name{
        transform: scale(1.03);
        transition: all 1s;
      }
      .work-page-name::after{
        width: 100%;
      
      }
}

.work-category-image-holder{
    width: 32vh;
    height: 32vh;
    max-height: 300px;
    max-width: 300px;
}
.work-category-image{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
@media screen {
    .port-vemio-fix{
        max-height: fit-content !important;
    }
}
@media  screen  and (max-width:764px) {
    div.port-vemio-fix{
        margin:auto !important;
    }
    div.port-vemio-fix div{
        margin: auto !important;
    }

    div.port-vemio-fix div div.embed-container{
        margin: 20px 0px 20px 0px !important;
    }
}

.vemio-vid-frame{
    padding: 0px !important;
    min-width: 100%;
    min-height:var(--vemio-vid-frame-height);
    max-height:1080px;
}
.vemio-width-container{
    max-width: 1000px;
    max-height: 800px;
}

.embed-container { 
    position: relative;  
    padding-bottom: 56.25%;
    height: 0; 
    overflow: hidden; 
    width: 100%;
    max-width: 1200px;
    height: auto; 
    } 
    .embed-container iframe, .embed-container object, .embed-container embed { 
    position: absolute; 
    top: 0; 
    left: 0; 
    width: 100%; 
    height: 100%; 
    }

@media screen and (max-width: 800px) {
    .work-category-image-holder{
        width: 80vw;
        height: 80vh;
    }
    .work-category-image{
        width: 100%;
        height: 100%;
    }
}

/*Cinematography Setion*/

.cinematography-section-main{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.c-title{
    width: 35%;
}
.c-title > h1{
    font-weight: 100;
}
.c-poster{
    width:30%;
}

.cinematography-main-img{
    width: 100%;
    height: fit-content;
    object-fit: cover;
}

.c-details{
    width: 35%;
}
.c-details-section > h1{
    font-size: 25px;
    font-weight: 600;
}
.c-snapshots{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    width: 100%;
}
.c-snapshot-img{
    margin: 20px 30px 20px 30px;
    width: 45%;
    height: 300px;
    object-fit: cover;
    margin-bottom: 10px;
}
.c-final-text{
    width: 100%;
    text-align: center;
}

@media screen and  (max-width: 960px) {
    .cinematography-section-main{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .c-title{
        width: 100%;
    }
    .c-poster{
        width: 100%;
    }
    .c-details{
        width: 100%;
    }
    .c-snapshot-img{
        margin: 10px 0px 0px 0px;
        width: 100%;
    }
}

/*Form*/
span.wpcf7-not-valid-tip{
    position: absolute;
    font-size: 12px !important;
}
form p input[type="submit"]{
    border-radius: 20px;
    border: 1px solid #000000 !important;
    background-color: #FFFFFF !important;
}
form p label{
    font-style: italic;
}
form p input{
    border:none !important;
    border-bottom: 1px solid #000000  !important
}
form p input[type="submit"]:hover{
    transition: all 1s ease-in-out;
    scale: 1.1;
}   
form p textarea{
    border:none !important;
    border-bottom: 1px solid #000000 !important;
    
}
.wpcf7-response-output{
    font-style: italic;
    font-size: 12px;
    margin: 0px !important;
    max-width: 80%;
}

form {
    max-width: 500px;
}

@media screen and (max-width: 500px) {
    form p input{
        width: 80%;
    }
    form p input[type="submit"]{
        width: 50%;
    }
    form p textarea{
        width: 80%;
         
    }
    form{
        display: flex;
        justify-content: center;
        align-content: center;
        flex-direction: column;
    }
    .wpcf7-response-output{
        text-align: center;
    }
}

/*Form End*/

/*404*/
.all-pages li{
    list-style: none;
    transition: all 1s ease-in-out;
}
.all-pages li a{
    font-style: italic;
    text-decoration: none;
    color: #000000;
}
.all-pages li a::after{
    width: 0%;
    height: 1px;
    content: "";
    display: block;
    background-color: #000000;
    transition: all 1s ease-in-out;
}
.all-pages a:hover::after{
    width: 150px;
    transition: all 1s ease-in-out;
}
/*404 End*/


/*header svg animation */

@keyframes animateBorders {

}

#site-logo-header-svg:hover{
    transition: all 1s ease-in-out;
    scale: 1.1;
}